/* increase font size in navbar responsively */
.navbar {
  font-size: larger;
}

/* add a little bit of responsive padding between nav items */
.nav-item {
  padding: 0.1rem;
}

/* add a grey background to each nav item on cursor hover */
.nav-item:hover {
  background-color: gray;
  border-radius: 7%;
}

/* turn horizontal rule white so it is visible against dark background */
hr {
  color: white;
}

/* Apply style to the 'cards' (each drum part row/section) so that they
   have a border and a decent margin - as well as a grey background. */
.card {
  border-width: thick;
  border-color: darkgrey;
  border-style: double;
  margin: 4%;
}

/* remove standard blue underline for links */
a {
  text-decoration: none;
  color: black;
}

/* make it easier to see what link is being pointed at by
   making text bolder and grey, on hover*/
.list-group-item:hover {
  color: grey;
  font-weight: bolder;
}

/* turn horizontal rule white so it is visible against dark background */
hr {
  color: white;
}

/* responsively make font size small and put text on right hand side of the page */
footer {
  font-size: small;
  text-align: end;
}
